In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame({'B': [0, 1, 2, np.nan, 4]})

In [7]:
df.rolling(2).mean()

     B
0  NaN
1  0.5
2  1.5
3  NaN
4  NaN