In [134]:
from Test_basemodel_functions import figure_layout
import pandas as pd
fullYeardata = pd.read_csv("D:\Onedrive\Leuven\Final project\data\Forecasting_writtendata\FullYear.csv",index_col= "date",parse_dates= True)

In [135]:
null_serie = fullYeardata.isnull().sum()

In [136]:
null_serie

0x096fa3d4f7a692bca65dfae1a7fcc01089685b58    1344
0x0d65536896a29a82ce55a81d592c3a9c6c0f797b    1584
0xddfe42d6b1d34d71ffcb1e4c58b1a8b2f9c03a80    1344
0x62e55dbe3cdd3cac46d61144544f6c488041de48    1392
0x88fc9ea558b9a98e3fc91ec0044b3c83ac630790    1392
                                              ...
0x7dd7a7b8ee1bec7c44b24f738c752482f6161065    1392
0xfdaf9f857621ec06f2cf801f42a020a322835090    2400
0xd28f2f001e0cd4d6c121a3cb2e1427207e170e18    1344
0x47218b46abb2fcaade487a211911406dc6e13730    1296
0xcd19e6fe3d887bc5dcac7ca18d46199695463fdd    1392
Length: 261, dtype: int64

In [137]:
# select the three time-series that contain the least missing values.
sorted_list = sorted(list(enumerate(null_serie.values)), key=lambda x: x[1])
names = []
amount_series = 10
for (index,_) in sorted_list[:amount_series]:
    names.append(fullYeardata.columns[index])

In [138]:
DF_three_series = fullYeardata.loc[:, [names[0],names[1],names[3]]]

In [139]:
av_temperature = pd.read_csv("D:\Onedrive\Leuven\Final project\data\weather-avg.csv",index_col='meter_id')
av_temperature = av_temperature.transpose()
av_temperature.index = pd.to_datetime(av_temperature.index)

In [79]:
# when I check the time-series, names[2] is a bit weird.
DF_temp_three_series = av_temperature.loc[:, [names[0],names[1],names[3]]]

In [153]:
serie1 = DF_three_series.iloc[:,[0]]
serie1_daily = serie1.resample('D',axis=0).sum()
serie1_daily = serie1_daily[serie1_daily.values != 0]
serie1_daily.describe()

       0x78a812ecd87a4b945e0d262aec41e0eb2b59fe1e
count                                  361.000000
mean                                    14.547817
std                                      3.214598
min                                      7.512500
25%                                     12.242000
50%                                     14.090500
75%                                     16.471000
max                                     30.083500

In [147]:
len(serie1_daily[serie1_daily.index.month == 12])

31

In [149]:
serie2 = DF_three_series.iloc[:,[1]]
serie2_daily = serie2.resample('D',axis=0).sum()
serie2_daily = serie2_daily[serie2_daily.values != 0]
serie2_daily.describe()

       0x1e84e4d5cf1f463147f3e4d566167597423d7769
count                                  340.000000
mean                                     3.168109
std                                      0.991313
min                                      1.826000
25%                                      2.350250
50%                                      2.960500
75%                                      3.766250
max                                      6.598000

In [152]:
len(serie2_daily[serie2_daily.index.month == 11])

29

In [154]:
serie2 = DF_three_series.iloc[:,[2]]
serie2_daily = serie2.resample('D',axis=0).sum()
serie2_daily = serie2_daily[serie2_daily.values != 0]
serie2_daily.describe()

       0xc3b2f61a72e188cfd44483fce1bc11d6a628766d
count                                  339.000000
mean                                     6.576000
std                                      2.571675
min                                      1.500000
25%                                      4.898500
50%                                      5.877000
75%                                      7.947500
max                                     17.153000

In [156]:
len(serie2_daily[serie2_daily.index.month == 12])

23

In [165]:
DF_temp_three_series.describe()

meter_id,0x78a812ecd87a4b945e0d262aec41e0eb2b59fe1e,0x1e84e4d5cf1f463147f3e4d566167597423d7769,0xc3b2f61a72e188cfd44483fce1bc11d6a628766d
count,365.000000,365.000000,365.000000
mean,10.373890,10.609140,10.219587
std,5.086640,5.203944,5.009998
min,-1.070833,-1.279167,-1.420833
25%,6.558333,6.891667,6.404167
50%,10.457143,10.608333,10.345833
75%,14.670833,14.850000,14.591667
max,23.991667,24.516667,22.950000

In [163]:
av_temperature.isnull().sum().sum()

1753

In [166]:
from Test_basemodel_functions import *

holidays = EnglandAndWalesHolidayCalendar().holidays(start=pd.Timestamp('2017-01-01'),end=pd.Timestamp('2017-12-31'))

In [167]:
len(holidays)

8

In [8]:
# from os import makedirs
# data_path = "./data/"
# makedirs(data_path,exist_ok=True)
#
# DF_three_series.to_csv(data_path+"DF_three_series.csv",index_label= 'date')
# DF_temp_three_series.to_csv(data_path+"DF_three_temp_series.csv",index_label= 'meter_id')

In [9]:
# from os import path
# import matplotlib.pyplot as plt
# save_to = "D:\Onedrive\Leuven\Final project\Results\Forecasting\Base_model_figures\\three_series"
# for col in DF_three_series.columns:
#     fname = path.join(save_to,"Serie"+str(col))
#     figure_layout(titel='Serie: '+ str(col))
#     DF_three_series.loc[:,col].plot()
#     plt.savefig(fname, dpi=300, facecolor='w', edgecolor='w', orientation='portrait', format=None,
#                 transparent=False, bbox_inches='tight', pad_inches=0.1, metadata=None)
# plt.show()